---
import Container from '@components/Container.astro'
import { SITE } from '@consts'
import BackToTop from '@components/BackToTop.svelte'
import ThemeToggler from '@components/ThemeToggler.svelte'
import Link from './Link.astro'
---

<footer>
	<Container>
		<div class="flex flex-col items-center">
			<div class="flex flex-wrap gap-1.5">
				<BackToTop client:visible />
				<ThemeToggler client:load />
			</div>
			<div class="mt-4 space-y-1 text-center">
				<nav class="flex flex-wrap items-center justify-center gap-x-4">
					<Link href="/">Home</Link>
					<Link href="/blog">Blogs</Link>
					<Link href="/rss.xml" external>RSS</Link>
					<Link href="/credits">Credits</Link>
				</nav>
				<p class="[&>a]:font-sans">
					Created using <Link href="https://astro.build" external>Astro</Link> and hosted on
					<Link href="https://pages.github.com/" external>Github Pages</Link>
				</p>
				<p>
					&copy; {new Date().getFullYear()}
					{SITE.TITLE}
				</p>
			</div>
		</div>
	</Container>
</footer>
