---
import logo from '@assets/logo.webp'
import Container from '@components/Container.astro'
import Link from '@components/Link.astro'
import { Image } from 'astro:assets'
---

<header>
	<Container>
		<div class="flex flex-wrap items-center justify-between gap-y-2">
			<Link href="/" underline={false}>
				<Image src={logo} alt="Bhargawanan's memoji" class="inline h-auto w-10" />
			</Link>
			<nav class="flex items-center gap-x-5 text-sm">
				<Link href="/blog">blogs</Link>
				<!-- <Link href="/projects">projects</Link> -->
				<button id="magnifying-glass" aria-label="search" title="Search">
					<span class="prose dark:prose-invert">
						<kbd>&#8984;+K</kbd>
					</span>
				</button>
			</nav>
		</div>
	</Container>
</header>
